header {
	width: 100%;
	height: 4.125rem;

	@include bp-tablet-up {
		height: 13.75rem;
	}

	@include bp-xl-up {
		width: 100%;
		height: 6.25rem;
	}

	nav {
		width: 100%;
		height: auto;
		@include bp-tablet-up {
			height: 9.9375rem;
		}

		@include bp-xl-up {
			height: 5rem;
		}
		.offcanvas-body {
			.navbar-nav {
				height: 37.5rem;
				@include bp-tablet-up {
					width: 41.5625rem;
					height: 3.125rem;
				}

				@include bp-xl-up {
					height: 5.5rem;
				}
				.nav-item {
					@include bp-tablet-up {
						border: none !important;
						border-top: 0.3125rem solid transparent !important;
					}

					a {
						text-decoration: none;
					}
				}

				.borderBottom {
					border-bottom: 1px solid $color-dk-gray;
				}

				@include bp-tablet-up {
					.nav-item--mercury:hover,
					.nav-item--mercury.selected {
						border-top: 0.1875rem solid $mercury !important;
					}

					.nav-item--venus:hover,
					.nav-item--venus.selected {
						border-top: 0.1875rem solid $venus !important;
					}
					.nav-item--earth:hover,
					.nav-item--earth.selected {
						border-top: 0.1875rem solid $earth !important;
					}

					.nav-item--mars:hover,
					.nav-item--mars.selected {
						border-top: 0.1875rem solid $mars !important;
					}

					.nav-item--jupiter:hover,
					.nav-item--jupiter.selected {
						border-top: 0.1875rem solid $jupiter !important;
					}

					.nav-item--saturn:hover,
					.nav-item--saturn.selected {
						border-top: 0.1875rem solid $saturn !important;
					}

					.nav-item--uranus:hover,
					.nav-item--uranus.selected {
						border-top: 0.1875rem solid $uranus !important;
					}

					.nav-item--neptune:hover,
					.nav-item--neptune.selected {
						border-top: 0.1875rem solid $neptune !important;
					}
				}
			}
		}
	}

	.borderBottom {
		border-bottom: 1px solid $color-dk-gray;
	}
	.bgDark {
		background-color: transparent !important;
	}

	// Navbar Hover
}

.text-bg-dark {
	background-color: $color-dk-blue !important;
	background-image: url('/assets/images/background-stars.svg');
}
