.main {
	.desc-buttons--mobile.desc-buttons--mobile {
		height: 3.125rem;
		width: 100%;
	}

	.border-bottom {
		border-color: $color-dk-gray !important;
	}

	.btn-overview--mobile {
		border-bottom: 0.25rem solid $mercury !important;
	}

	.desc-planet {
		@include bp-tablet-up {
			
			
		}
		.planet-image_container {

		}
		.top_container {
			@include bp-tablet-up {
				
			}

			.planet-info {
				@include bp-tablet-up {
					width: 21.1875rem;
				}
			}
			.desc-buttons--tablet {
				@include bp-tablet-up {
					border: none;
					width: 17.5625rem;
					height: 17.6875rem;
				}
			}
		}
	}
}

// Mobile Buttons on page load

.mercury > .btn-overview--mobile {
	border-bottom: 4px solid $mercury !important;
}

.venus > .btn-overview--mobile {
	border-bottom: 4px solid $venus !important;
}
.mars > .btn-overview--mobile {
	border-bottom: 4px solid $mars !important;
}
.uranus > .btn-overview--mobile {
	border-bottom: 4px solid $uranus !important;
}
.saturn > .btn-overview--mobile {
	border-bottom: 4px solid $saturn !important;
}
.neptune > .btn-overview--mobile {
	border-bottom: 4px solid $neptune !important;
}
.jupiter > .btn-overview--mobile {
	border-bottom: 4px solid $jupiter !important;
}
.earth > .btn-overview--mobile {
	border-bottom: 4px solid $earth !important;
}

// Tablet Buttons--on page load
.mercury > .btn-overview {
	background-color: $mercury;
}
.venus > .btn-overview {
	background-color: $venus;
}
.mars > .btn-overview {
	background-color: $mars;
}
.uranus > .btn-overview {
	background-color: $uranus;
}
.saturn > .btn-overview {
	background-color: $saturn;
}
.neptune > .btn-overview {
	background-color: $neptune;
}
.jupiter > .btn-overview {
	background-color: $jupiter;
}
.earth > .btn-overview {
	background-color: $earth;
}
