.desc-buttons--mobile {
	height: 5rem;
	width: 100%;

	
}

.desc-buttons--tablet {
	@include bp-tablet-up {
		border: none;
		width: 17.5625rem;
		height: 100%;
	}
}

// Mobile Buttons on page load
/*
 .mercury > .btn-overview--mobile { 
	border-bottom: 4px solid $mercury;
}

.venus > .btn-overview--mobile {
	border-bottom: 4px solid $venus;
}
.mars > .btn-overview--mobile {
	border-bottom: 4px solid $mars;
}
.uranus > .btn-overview--mobile {
	border-bottom: 4px solid $uranus;
}
.saturn > .btn-overview--mobile {
	border-bottom: 4px solid $saturn;
}
.neptune > .btn-overview--mobile {
	border-bottom: 4px solid $neptune;
}
.jupiter > .btn-overview--mobile {
	border-bottom: 4px solid $jupiter;
}
.earth > .btn-overview--mobile {
	border-bottom: 4px solid $earth;
}*/

// Tablet Buttons--on page load
.mercury > .btn-overview {
	background-color: $mercury;
}
.venus > .btn-overview {
	background-color: $venus;
}
.mars > .btn-overview {
	background-color: $mars;
}
.uranus > .btn-overview {
	background-color: $uranus;
}
.saturn > .btn-overview {
	background-color: $saturn;
}
.neptune > .btn-overview {
	background-color: $neptune;
}
.jupiter > .btn-overview {
	background-color: $jupiter;
}
.earth > .btn-overview {
	background-color: $earth;
}
