.desc-planet {
	width: 100%;
	height: auto;

	.top_container {
		width: 100%;

		.planet-info {
			@include bp-tablet-up {
				width: 21.1875rem;
			}

			@include bp-xl-up {
				width: 25rem;
			}
			&--title {
				font-size: 2.5rem;

				@include bp-tablet-up {
					font-size: 3rem;
				}

				@include bp-xl-up {
					font-size: 5rem;
				}
			}
		}
	}
}
