@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500;700&family=Spartan:wght@400;700&display=swap');

// Headings

h1,
h2,
.header-title {
	font-family: $heading-font-family;
	font-weight: $weight-medium;
	color: $color-white;
}

h3,
h4 {
	font-family: $body-font-family;
	font-weight: $weight-bold;
	color: $color-white;
}

.h1-title {
	font-size: 5rem;
	line-height: 10.3rem;
}

.h2-title {
	font-size: 4rem;
	line-height: 5.2rem;
	letter-spacing: -1.5;
}

.h3-title {
	font-size: 1.2rem;
	line-height: 2.5rem;
	letter-spacing: +2.6;
}

.h4-title {
	font-size: 1.1rem;
	font-weight: $weight-regular;
	line-height: 2.5rem;
	letter-spacing: +1;
	text-transform: uppercase;
	color: $color-lt-gray;
}

.header-title {
	font-size: 1.75rem;
	line-height: 36px;
	letter-spacing: -1.05px;
}

.header-title:hover {
	color: $color-lt-gray;
}

.mobile-title {
	font-weight: $weight-bold;
	font-size: .75rem;
	line-height: 10px;
}

// Text
.body-text {
	font-family: $body-font-family;
	font-weight: $weight-regular;
	font-size: .6875rem;
	line-height: 2.5rem;
	color: $color-white;
	@include bp-tablet-up {
		font-size: .875rem;
	}
	
}

.link-text {
	font-family: $body-font-family;
	font-size: 0.6875rem;
	line-height: 1.5625rem;
	font-weight: $weight-bold;
	text-transform: uppercase;
	letter-spacing: 0.0625rem;
}
